@charset "UTF-8";

body {
  font-family: “Times New Roman”, “游明朝”, YuMincho, “ヒラギノ明朝 ProN W3”, “Hiragino Mincho ProN”, “メイリオ”, Meiryo, serif;
  min-width: 480px;
  max-width: 960px;
  margin: 0 auto;
}
