

<section class="about-paragraph">
  <h2 class="about-title">このサイトについて</h2>
  <div class="about-txt-wrapper">
    <p>何これ？</p>
    <p>GOOGLE CLOUD VISIONが面白そうなのでRAILSを使って構築しました。</p>
    <p>何の為に？</p>
    <p>海外に旅に出た時に画像から文字に起こして更に翻訳に投げたり、CD/レコード屋でジャケットの画像を撮影して、更に
    DISCOGS(https://www.discogs.com/)のAPIに投げてその商品の相場や情報が得られたら便利だなと思って開発しています。</p>
    <p>これで終わりですか？</p>
    <p>上記のように他のAPIと連携し更に便利にする予定でございます。</p>
    <p>エラー出たんだけど？</p>
    <p>お手数ですが後ほど「お問い合わせ」を設置しますのでお声掛け頂けたら幸いでございます。</p>
    <p>デザインだっさ</p>
    <p>すいません…すいません…すいません…</p>
    <p>アップロードした画像が小さくなっているんだけど？</p>
    <p>S3に保存時にオリジナルの画像を保存の上、横幅、高さの大きい方を300px（アスペクト比はそのまま）へとリサイズしたものを表示しております。</p>
　</div>
</section>

<section class="about-paragraph">
  <h3 class="about-title">AWS</h3>
  <div class="about-txt-wrapper">
    <p>route53</p>
    <p>ドメイン管理</p>
    <p>ELB</p>
    <p>負荷分散ではなくSSL対応メインで使用</p>
    <p>cloudfront</p>
    <p>s3をオリジンとして使用</p>
    <p>ACM</p>
    <p>cloudfrontの証明書発行に使用(東京のELBには使用できない為ELBはまた別)</p>
    <p>EC2</p>
    <p>appサーバ</p>
    <p>RDS</p>
    <p>DB</p>
    <p>ロケーション</p>
    <p>バージニア</p>
  </div>
</section>

<section class="about-paragraph">
  <h3 class="about-title">その他</h3>
  <div class="about-txt-wrapper">
    <p>TINYPNG API</p>
    <p>画像の軽量化に使用</p>
    <p>GOOGLE CLOUD VISION</p>
    <p>画像解析</p>
    <p>LET'S ENCRYPT</p>
    <p>ELBの証明書に使用=>>サーバーをvirginiaにしたので使用しなかった</p>
  </div
</section>
