<div class="image-step-wrapper">
  <p class="image-step-current">①画像UP</p><span class="triangle"></span>
  <p class="image-step">②文字列</p><span class="triangle"></span>
  <p class="image-step">③翻訳</p>
</div>

<%= form_for @image, url: upload_images_path, html: { multipart: true } do |f| %>
  <% if @image.errors.any?%>
    <p id="js-attention"><%= @image.errors[:file][0] %></p>
  <% end %>
  <p class="select-image-input"><%= f.file_field :file %></p>
  <p class="select-image-submit"><%= f.button 'アップロード'%></p>
<% end %>
